json-to-xml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dbe2229f-cc83-437a-8a9f-972e6ef0708d" >
		<http:listener-connection host="localhost" port="8082" />
	</http:listener-config>
	<flow name="json-to-xmlFlow" doc:id="208539e1-f827-44f0-a284-94bb5554eb4e" >
		<http:listener doc:name="Listener" doc:id="3ad755a0-0a52-4c7a-a5c1-12b571f20b81" config-ref="HTTP_Listener_config" path="/jtox"/>
		<logger level="INFO" doc:name="input payload Logger" doc:id="0eb60605-1fb3-4638-aa39-aa8567aa6723" message="input payload#payload"/>
		<ee:transform doc:name="Transform Message" doc:id="d2700e73-6336-44d2-9f68-620408db53b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	order: {
		buyer: {
			email: payload.email,
			name: payload.name,
			address: payload.address1,
			city: payload.city
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="output payload Logger" doc:id="0522ee78-e8d2-4705-ac9f-d517da92bd3a" />
	</flow>
</mule>
